In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import re
from itertools import combinations
from itertools import chain

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1340,tt0388795,14000000,178043761,Brokeback Mountain,Heath Ledger|Jake Gyllenhaal|Randy Quaid|Miche...,Ang Lee,Love is a force of nature.,Brokeback Mountain is an Ang Lee film about tw...,134,Drama|Romance,River Road Entertainment|Alberta Film Entertai...,9/2/2005,7.2,2005
1236,tt1486834,11000000,7847000,What If,Daniel Radcliffe|Zoe Kazan|Rafe Spall|Megan Pa...,Michael Dowse,...being friends has its benefits?,"Wallace, a medical school dropout, has been re...",93,Drama|Comedy|Romance,Fastnet Films|Caramel Film|No Trace Camping,9/7/2013,6.7,2013
781,tt1586752,30000000,2527904,Machine Gun Preacher,Gerard Butler|Michelle Monaghan|Justin Michael...,Marc Forster,Hope is the greatest weapon of all,"The true story of Sam Childers, a former drug-...",129,Action|Thriller|Crime,Mpower Pictures|Relativity Media|1984 Private ...,9/23/2011,6.4,2011
1162,tt0251736,7000000,16829545,House of 1000 Corpses,Sid Haig|Bill Moseley|Sheri Moon Zombie|Karen ...,Rob Zombie,You'll never get out alive.,Two teenage couples traveling across the backw...,89,Horror,Universal Pictures|Spectacle Entertainment Group,4/11/2003,5.8,2003
591,tt0250310,11000000,23978402,Corky Romano,Chris Kattan|Vinessa Shaw|Peter Falk|Peter Ber...,Rob Pritts,Undercover and Out The Way!,"Corky Romano is a bumbling, simpleton, veterin...",86,Action|Comedy|Crime,Robert Simonds Productions|Touchstone Pictures,10/12/2001,4.4,2001

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [107]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = pd.to_datetime(data.release_date)

"""ниже рассчитываем прибыль как разницу между сборами и бюджетом(profit = revenue - budget)"""
data['profit'] = data['revenue'] - data['budget'] #создаем новый столбец со значением прибыли для нашего датасета


"""создаем функцию, которая обрезает строку и оставляет только название фильма"""
def proper_print(s):
    x = str(s)[7:(str(s).find("Name"))] #переводим переменную в строку, чтобы применить строковую функцию
    return x #на выходе получаем строку с названием фильма, без индекса и остальной ненужной инфы


"""функция ниже принимает на вход строку, разделяет ее и считает количество слов в ней"""
def get_words_amount(s):
    return len(s.split())

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [128]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #"+"
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
max_budget_movie = data[(data.budget == data.budget.max())].original_title #фильтруем датафрейм по условию с использованием 
#логического оператора и выбираем значение столбца с названием фильма
print(f'Самый большой бюджет у фильма - {proper_print(max_budget_movie)}')

Самый большой бюджет у фильма - Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [11]:
budget = []
biggest = 0

"""создаем цикл, который проходит по строкам датафрейма и ищет наибольшее значение столбца 'budget'"""
for idx,row in data[:].iterrows():
    for i in data.budget[:]:
        if biggest < i:
            biggest = i
        else:
            continue
            
            
max_budget_movie2 = data[(data['budget'] == biggest)].original_title
print(f'Самый большой бюджет у фильма {proper_print(max_budget_movie2)}')

Самый большой бюджет у фильма Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [129]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'#"+"

In [14]:
longest_movie = data[data['runtime'] == data['runtime'].max()].original_title #находим максимум в столбеце 'runtime' и выбираем 
#соответствующее название фильма
print(f'Самый длительный фильм - {proper_print(longest_movie)}')

Самый длительный фильм -  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [130]:
answers['3'] = 'Winnie the Pooh (tt1449283)'#"+"

In [16]:
shortest_movie = data[data['runtime'] == data['runtime'].min()].original_title
print(f'Самый короткий фильм - {proper_print(shortest_movie)}')

Самый короткий фильм - Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [131]:
answers['4'] = '110' #"+"

In [20]:
mean_runtime = round(data.runtime.mean()) #используем функцию mean() для поиска среднего значения столбца runtime
print(f'Средняя длительность фильмов - {mean_runtime} минут.')

Средняя длительность фильмов - 110 минут.

# 5. Каково медианное значение длительности фильмов?

In [132]:
answers['5'] = '107' #"+"

In [22]:
median_runtime = int(data.runtime.median())
print(f'Медианное значение длительности фильмов - {median_runtime} минут.')

Медианное значение длительности фильмов - 107 минут.

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [133]:
answers['6'] = 'Avatar (tt0499549)' #"+"

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
most_profitable = data[(data.profit == data.profit.max())].original_title
print(f'Самый прибыльный фильм - {proper_print(most_profitable)}')

Самый прибыльный фильм - Avatar

# 7. Какой фильм самый убыточный?

In [134]:
answers['7'] = 'The Lone Ranger (tt1210819)' #"+"

In [26]:
least_profitable = data[(data.profit == data.profit.min())].original_title
print(f'Самый убыточный фильм - {proper_print(least_profitable)}')

Самый убыточный фильм -  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [135]:
answers['8'] = '1478' #"+"

In [29]:
movie_amount = len(data[(data.revenue > data.budget)]) #c помощью len() считаем кол-во строк в отфильтрованном датафрейме
print(f'У {movie_amount} фильмов объем сборов оказался выше бюджета')

У 1478 фильмов объем сборов оказался выше бюджета

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [136]:
answers['9'] = 'The Dark Knight (tt0468569)' #"+"

In [31]:
movies_in2008 = data[data.release_year == 2008] #выбираем только фильмы, выпущенные в 2008 году
most_revenue_movie = movies_in2008[movies_in2008.revenue == movies_in2008.revenue.max()].original_title #находим 
#самый кассовый фильм в 2008
print(f'Самым кассовым фильмом в 2008 году оказался {proper_print(most_revenue_movie)}')

Самым кассовым фильмом в 2008 году оказался The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [137]:
answers['10'] = 'The Lone Ranger (tt1210819)' #"+"

In [36]:
unprofitable_movies = data.loc[(data['release_year']>=2012) & (data['release_year'] <= 2014)] #фильтруем по 2-м условиям с
#помощью метода .loc[]
most_unprofitable = unprofitable_movies[unprofitable_movies.profit == unprofitable_movies.profit.min()].original_title
print(f'Самый убыточный фильм за период с 2012 по 2014 включительно - {proper_print(most_unprofitable)} ')

Самый убыточный фильм за период с 2012 по 2014 включительно -  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [138]:
answers['11'] = 'Drama'#"+"

In [39]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
quantity = Counter() #заводим счетчик и считаем разновидности жанров
for i in range(0,len(data)): #запускаем цикл, в котором разделяем значения столбца 'genres' и передаем их в список
    g = data.genres[i].split('|')
    for j in list(g):
        if j not in g:
            quantity[j] = 1 
        else:
            quantity[j] += 1
popular_genre2 = quantity.most_common(1) #находим самый повторяющийся жанр 
a = str(re.findall(r'[A-Z][a-z]+',str(popular_genre2)))[2:-2] #назначаем переменной строковый тип и используем модуль re 
#для поиска исключительно названия жанра, выбираем с помощью среза
print(f'Фильмов жанра {a} больше всего')

Фильмов жанра Drama больше всего

ВАРИАНТ 2

In [43]:
data = data.assign(genres=data.genres.str.split('|')).explode('genres') #назначаем новый столбец genres с разделенными жанрами
#вместо старого столбца genres, затем разщипляем датафрейм по новому столбцу дублируя значения в остальных столбцах
popular_genre = data.genres.value_counts().head(1) #считает сколько раз повторяются типы жанров и находим самый популярный
display(popular_genre)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 3

In [44]:
data.genres.describe() #получаем статистику по столбцу жанры

count      5107
unique       19
top       Drama
freq        782
Name: genres, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [139]:
answers['12'] = 'Drama' #"+"

In [46]:
profitable_movies = data[data.profit > 0]
profit_genre = profitable_movies.genres.value_counts().head(1)
display(profit_genre)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [140]:
answers['13'] = 'Peter Jackson' #"+"

In [50]:
data = data.assign(director=data.director.str.split('|')).explode('director') #разделяем режисеров и расширяем датасет
total_revenue = data.groupby(['director']).agg({'revenue':'sum'}).sort_values('revenue', ascending=False).head(1) #группируем 
#по режисерам, с помощью аггрегирующей ф-ции считаем суммарные сборы,сортируем значения по убыванию и выводим наибольшее значение
display(total_revenue)

                   revenue
director
Peter Jackson  17464735681

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [141]:
answers['14'] = 'Robert Rodriguez' #"+"

In [53]:
action_director = data[data.genres.str.contains('Action', na=False)].director.value_counts().head(1) #датафрейм фильтруем по
#жанрам, содержащим слово Action,затем считаем режисеров и берем первую стороку с самым повторяющимся
display(action_director)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [142]:
answers['15'] = 'Chris Hemsworth' #"+"

In [55]:
data = data.assign(cast=data.cast.str.split('|')).explode('cast')
revenue_2012 = data.query('release_year == 2012') #фильтруем по запросу
revenue_2012[revenue_2012.revenue == revenue_2012.revenue.max()].cast

970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [143]:
answers['16'] = 'Matt Damon' #"+"

In [64]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data = data.assign(cast=data.cast.str.split('|')).explode('cast')
highbudget_actor = data[data.budget > data.budget.mean()].cast.value_counts().head(1) #отбираем только по фильмам с бюджетом
#больше среднего и считаем сколько раз каждый актер снимался в них, берем самого повтояющегося
display(highbudget_actor)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [144]:
answers['17'] = 'Action'#"+"

In [66]:
data = data.assign(genres=data.genres.str.split('|')).explode('genres')
Nicolas_genre = data[data.cast == 'Nicolas Cage'].genres.value_counts().head(1)
display(Nicolas_genre)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [145]:
answers['18'] = 'K-19: The Widowmaker'#"+"

In [69]:
data = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
#разделяем режисеров и расширяем датафрейм
df1 = data[data.production_companies == 'Paramount Pictures'] #фильтруем только фильмы студии Paramount Pictures
most_unprofit_movie = df1[df1.profit == df1.profit.min()].original_title
print(f'Самый убыточный фильм от Paramount Pictures - {proper_print(most_unprofit_movie)}')

Самый убыточный фильм от Paramount Pictures - K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker

ВАРИАНТ2

In [71]:
df2 = data.groupby(['production_companies', 'original_title']).agg({'profit':'min'}) #группируем по студиям и названиям фильмов,
#применяем аггрег. ф-цию, выбирающую значения с минимальной прибылью
df2.loc['Paramount Pictures'].sort_values('profit') #получаем значения по Paramount Pictures

                                                       profit
original_title
K-19: The Widowmaker                                -64831034
Timeline                                            -60519261
Next                                                -51788987
Alfie                                               -46604061
Twisted                                             -24805000
...                                                       ...
Mission: Impossible - Ghost Protocol                549713380
Transformers                                        559709780
Indiana Jones and the Kingdom of the Crystal Skull  601636033
Transformers: Revenge of the Fallen                 686297228
Transformers: Dark of the Moon                      928746996

[122 rows x 1 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [146]:
answers['19'] = '2015' #"+"

In [74]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
profit_year = data.groupby(['release_year']).agg({'revenue':'sum'}).sort_values('revenue', ascending=False).head(1)
display(profit_year)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [147]:
answers['20'] = '2014' #"+"

In [77]:
data = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
warner_companies = data[(data.production_companies.str.contains('Warner Bros.'))] #в датафрейме у студии Warner Bros 
#несколько названий, выдираем все, содержащие слова Warner Bros
warner_companies.groupby(['release_year']).agg({'profit':'sum'}).sort_values('profit',ascending=False).head(1)

                  profit
release_year
2014          2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [148]:
answers['21'] = 'Сентябрь' #"+"

In [81]:
data1 = pd.read_csv('movie_bd_v5.csv')
data1.release_date = pd.to_datetime(data1.release_date) #преобразовываем строку release_date в объект даты и времени Python 
data1['release_date'] = data1['release_date'].dt.month #Используем атрибут dt.month чтобы вернуть месяц в новый 
#столбец 'release_date'

In [86]:
data1.groupby(['release_date']).agg({'original_title':'count'}).sort_values('original_title', ascending=False) #фильтруем по 
#месяцам выхода фильма и считаем кол-во фильмов, сортируем по убыванию

              original_title
release_date
9                        227
12                       190
10                       186
8                        161
3                        156
4                        149
6                        147
11                       146
7                        142
5                        140
2                        135
1                        110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [149]:
answers['22'] = '450' #"+"

In [88]:
summer_months = data1.query('release_date == 6 | release_date == 7 | release_date == 8')
total = summer_months.original_title.count()
print(f'Суммарно летом вышло {total} фильмов')

Суммарно летом вышло 450 фильмов

# 23. Для какого режиссера зима – самое продуктивное время года?

In [150]:
answers['23'] = 'Peter Jackson' #"+"

In [92]:
data = pd.read_csv('movie_bd_v5.csv')
splited_directors = data1.assign(director=data.director.str.split('|')).explode('director')
splited_directors.query('release_date == 12 | release_date == 1 | release_date == 2').director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Nancy Meyers         4
                    ..
Ivan Reitman         1
Rob Minkoff          1
Chris Weitz          1
Tim Hill             1
Niki Caro            1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [151]:
answers['24'] = 'Four By Two Productions' #"+"

In [99]:
splited_companies = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
splited_companies.original_title.astype(str) #преобразуем объекты датафрейма, а именно значения столбца original_title
#в строковые величины

0       Jurassic World
0       Jurassic World
0       Jurassic World
0       Jurassic World
0       Jurassic World
             ...
1887        Hanging Up
1887        Hanging Up
1887        Hanging Up
1887        Hanging Up
1888      The In Crowd
Name: original_title, Length: 6078, dtype: object

In [104]:
x=[]
for index, row in splited_companies.iterrows(): #проходим по всем значениям столбца original_title
    x.append(len(row['original_title'])) #считаем длину каждого значения и добавляем в список
splited_companies['length'] = x #заводим новый список датафрейма и передаем в него значения длин названий фильмов
splited_companies.groupby(['production_companies']).agg({'length':'mean'}).sort_values('length', ascending=False)
#группируем по студиям и считаем среднее значение длин названий фильмов, сортируем по убыванию

                            length
production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
...                            ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [152]:
answers['25'] = 'Midnight Picture Show' #"+"

In [108]:
splited_companies['word_amount'] = splited_companies['overview'].apply(get_words_amount) #с помощью метода apply() 
#применяем в столбцу overview функцию, считающую кол-во слов. Значения помещаем в новый столбец датафрейма
splited_companies.groupby(['production_companies']).agg({'word_amount':'mean'}).sort_values('word_amount', ascending=False)
#группируем по студиям, считаем среднее кол-во слов в описании фильмов и сортируем по убыванию

                                       word_amount
production_companies
Midnight Picture Show                        175.0
Room 9 Entertainment                         161.0
Heineken Branded Entertainment               159.0
98 MPH Productions                           159.0
Brookwell-McNamara Entertainment             156.0
...                                            ...
Henceforth                                    13.0
Our Stories Films                             13.0
London Boulevard                              13.0
Motion Picture Corporation of America         11.0
Empire Pictures                               11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [153]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #"+"

In [111]:
movies_rating = data[['original_title','vote_average']].sort_values('vote_average', ascending=False) #выделяем из датасета 
#два столбца и сортируем по значениям 'vote_average'

In [112]:
x=round(len(data)/100) #рассчитываем 1/100 часть датафрейма
best_movies = movies_rating.iloc[0:x] #вырезаем с помощью прямой индексации из отсортированного датасета 1/100 часть, 
#равную 1% лучших по рейтингу фильмов
display(best_movies)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [154]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' #"+"

In [118]:
data['cast_split'] = data['cast'].str.split('|')
data['cast_duets']=data.cast_split.apply(lambda x: list(combinations(x, 2))) #применяем безымянную функцию, которая разбивает 
#значения столбца с актерами на неповтояющиеся незеркальные комбинации по два актера 
x = data['cast_duets']

In [119]:
x = data['cast_duets'].tolist() #преобразуем помещеные в переменную х значения в список списков

In [121]:
y = chain(*x) #преобразуем полученный список в последовательность значений с помощью итератора chain()
Counter(y).most_common(5) #используя счетчик считаем кол-во повторений комбинаций и выводим 5 самых повторяющихся

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

In [122]:
duets = Counter()
for i in range(0,len(data)): #здесь считаем количество повторений комбинаций с помощью цикла 
    actors = data.cast[i].split('|')
    for j in list(combinations(actors, 2)):
        if j not in duets:
            duets[j] = 1
        else:
            duets[j] += 1
duets.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [155]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '25': 'Midnight Picture Show',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

In [156]:
# и убедиться что ни чего не пропустил)
len(answers)

27